body {
  margin: 0;
  padding: 40px;
  -webkit-user-select: none; /*Safari*/
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color .3s ease-in-out;
}

body.theme-dark {
  background-color: #242F3F;
}
