body {
  margin: 0;
  padding: 40px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color .3s ease-in-out;
}

body.theme-dark {
  background-color: #242F3F;
}

.vertical-legend {
  position: relative;
}

.vertical-legend__item {
  position: absolute;
  color: #A4AAB0;
  font-size: 13px;
}

.shifting-container {
  display: flex;
  white-space: nowrap;
  height: 14px;
  transition: color .3s ease-in-out;
}

.theme-light .shifting-container {
  color: #536779;
}

.theme-dark .shifting-container {
  color: #96A2AA;
}

.legend-item-value {
  position: absolute;
  transition: opacity .25s;
  will-change: opacity;
}

.legend-item-value--hidden {
  opacity: 0;
}