.overview__overflow {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: background-color .3s ease-in-out;
}

.overview__overflow--left {
  left: 0;
}

.overview__overflow--right {
  right: 0;
}

.theme-light .overview__overflow {
  background-color: #f4f9fbcc;
}

.theme-dark .overview__overflow {
  background-color: #19222eb3;
}
