body {
  margin: 0;
  padding: 40px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color .3s ease-in-out;
}

body.theme-dark {
  background-color: #242F3F;
}

.vertical-legend {
  position: relative;
}

.vertical-legend__item {
  position: absolute;
  color: #A4AAB0;
  font-size: 13px;
}

.horizontal-legend {
  position: absolute;
  bottom: 0;
}

.horizontal-legend__item {
  position: absolute;
  color: #A4AAB0;
  font-size: 13px;
}

.shifting-container {
  display: flex;
  white-space: nowrap;
  color: #536779;
}
