.theme-switcher {
  background: none;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.theme-light .theme-switcher {
  color: #0087E6;
}

.theme-dark .theme-switcher {
  color: #2DA7F4;
}
