.tooltip-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: black;
    will-change: transform;
    visibility: hidden;
}

.theme-light .tooltip-line {
    background-color: #DFE6EB;
}

.theme-dark .tooltip-line {
    background-color: #3A4A5B;
}

.tooltip__dot {
    visibility: hidden;
    position: absolute;
    border-radius: 50%;
    border: 2px solid;
}

.theme-light .tooltip__dot {
    background-color: white;
}

.theme-dark .tooltip__dot {
    background-color: #242F3F;
}

.tooltip {
    position: absolute;
    top: 20px;
    box-shadow: 0 0 5px #00000030;
    border-radius: 5px;
    visibility: hidden;
}

.theme-light .tooltip {
    background-color: white;
    color: #222222;
}

.theme-dark .tooltip {
    background-color: #243242;
    color: white;
}

.tooltip__legend {
    display: flex;
    margin-top: 10px;
}