.graphs {
    position: relative;
    overflow: hidden;
}

.graph__layer {
  position: absolute;
  transform: translateZ(0);
  will-change: opacity;
  transition: opacity .25s;
}

.graph__layer--hidden {
  opacity: 0;
}
