.shifting-container {
  display: flex;
  white-space: nowrap;
  height: 14px;
  transition: color .3s ease-in-out;
  will-change: transform;
}

.theme-light .shifting-container {
  color: #536779;
}

.theme-dark .shifting-container {
  color: #96A2AA;
}

.legend-item-value {
  position: absolute;
  transition: opacity .25s;
  will-change: transform, opacity; /* Safari zoom performance */
  contain: layout;
}

.legend-item-value--hidden {
  opacity: 0;
}

.x-axis {
  overflow: hidden;
  padding: 5px 0 15px;
}