.button {
  display: none;
}

.like-button {
  touch-action: manipulation;
  margin-bottom: 20px;
  display: inline-block;
  outline: none;
  border: 1px solid;
  padding: 11px 19px 11px 42px;
  background: none;
  border-radius: 8px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.theme-light .like-button {
  border-color: #edeff0;
}

.theme-dark .like-button {
  border-color: var(--button-border-cl);
}

.like-button::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  border: 1px solid currentColor;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  border-radius: 50%;
  transition: background 0.2s;
}

.button:checked ~ .like-button::before {
  background: currentColor;
}

.button:checked ~ .like-button::after {
  content: "";
  width: 0.3em;
  height: 0.6em;
  position: absolute;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  top: 50%;
  transform: translateY(-63%) translateX(9px) rotate(55deg) skew(5deg);
  left: 10px;
}

.button-text {
  transition: color 0.3s ease-in-out;
}

.theme-light .button-text {
  color: black;
}

.theme-dark .button-text {
  color: #e8ecee;
}
