.overview__viewbox {
  border-top: 4px solid;
  border-bottom: 4px solid;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: grab;
  transition: border-color .3s ease-in-out;
}

.theme-light .overview__viewbox {
  border-color: hsla(204, 37%, 92%, 0.8);
}

.theme-dark .overview__viewbox {
  border-color: hsla(215, 25%, 30%, 0.5);
}
