.overview__viewbox {
  border-top: 4px solid;
  border-bottom: 4px solid;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: grab;
  transition: border-color .3s ease-in-out;
}

.theme-light .overview__viewbox {
  border-color: hsla(204, 37%, 92%, 0.8);
}

.theme-dark .overview__viewbox {
  border-color: hsla(215, 25%, 30%, 0.5);
}

.overview__viewbox::before, .overview__viewbox::after {
  content: ' ';
  transition: background-color .3s ease-in-out;
  background-color: hsla(214,30%,14%,.7);
  position: absolute;
  top: -4px;
  bottom: -4px;
  width: 100vw;
}

.overview__viewbox::before {
  right: 100%;
}

.overview__viewbox::after {
  left: 100%;
}

.theme-light .overview__viewbox::before,
.theme-light .overview__viewbox::after {
  background-color: hsla(197, 47%, 97%, 0.8);
}

.theme-light .overview__viewbox::before,
.theme-light .overview__viewbox::after {
  background-color: hsla(214, 30%, 14%, 0.7);
}
