.overview__resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  transition: background-color .3s ease-in-out;
  cursor: ew-resize;
}

.overview__resizer--left {
  left: 0;
}

.overview__resizer--right {
  right: 0;
}

.theme-light .overview__resizer {
  background-color: hsla(204, 37%, 92%, 0.8);
}

.theme-dark .overview__resizer {
  background-color: hsla(240, 5%, 24%, 0.5);
}