.tooltip__dot {
  visibility: hidden;
  position: absolute;
  border-radius: 50%;
  border: 1px solid;
}

.theme-light .tooltip__dot {
  background-color: white;
}

.theme-dark .tooltip__dot {
  background-color: #242F3F;
}

.tooltip {
  z-index: 1;
  position: absolute;
  top: 20px;
  box-shadow: 0 0 5px #00000030;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
}

.theme-light .tooltip {
  background-color: white;
  color: #222222;
}

.theme-dark .tooltip {
  background-color: hsla(240, 5%, 24%, 0.5);
  color: white;
}

.tooltip__legend {
  display: flex;
  margin-top: 10px;
}